<!-- This file should be rendered into
	 div.friend-list
	 of file swig_myroom_frame.html
   -->
{% set count = 0 %}
{% if user %}
	{% for friend in user.friendList %}
	{% set count+=1 %}
	<li class="friend-li" id="friend_list">
	  <div class="row" style="margin:10px 0px">
		<div class="avatar-container">
          <img src="./media/user_icon/{{ friend.avatarId }}.png" class="friend-avatar">
		</div>
		<div class="friend-nickname" id="user-{{ friend.name }}">
          	{{ friend.name }}
		</div>
		{% if friend.online=='true' %}
		<div class="color-dot color-dot-green">
		</div>
		<label class="friend-status friend-status--offline">
        	在线
		</label>
		<p class="invitebox right" style="position:relative;top:16px;">
			<input type="checkbox" id="friend_{{ loop.index }}_check_box" class="filled-in"  value="{{ friend.name }}">
			<label for="friend_{{ loop.index }}_check_box"></label>			  
		</p>
		{% elseif friend.online=='inroom' %}
		<div class="color-dot color-dot-blue">
		</div>
		<label class="friend-status friend-status--offline">
			建房中
		</label>
		<p class="invitebox right" style="position:relative;top:16px;">
			<input type="checkbox" id="friend_{{ loop.index }}_check_box" class="filled-in" disabled="disabled"  value="{{ friend.name }}">
            <label for="friend_{{ loop.index }}_check_box"></label>					  
		</p>
		{% elseif friend.online=='inteam' %}
		<div class="color-dot color-dot-yellow">
		</div>
		<label class="friend-status friend-status--offline">
			组队中
		</label>
		<p class="invitebox right" style="position:relative;top:16px;">
			<input type="checkbox" id="friend_{{ loop.index }}_check_box" class="filled-in" disabled="disabled" value="{{ friend.name }}">
			<label for="friend_{{ loop.index }}_check_box"></label>			  
		</p>
		{% elseif friend.online=='inbattle' %}
		<div class="color-dot color-dot-yellow">
		</div>
		<label class="friend-status friend-status--offline">
			游戏中
		</label>
		<p class="invitebox right" style="position:relative;top:16px;">
			<input type="checkbox" id="friend_{{ loop.index }}_check_box" class="filled-in" disabled="disabled" value="{{ friend.name }}">
			<label for="friend_{{ loop.index }}_check_box"></label>					  
		</p>
		{% elseif friend.online=='false' %}
		<div class="color-dot color-dot-red">
		</div>
		<label class="friend-status friend-status--offline">
          	离线
		</label>
		<p class="invitebox right" style="position:relative;top:16px;">
			<input type="checkbox" id="friend_{{ loop.index }}_check_box" class="filled-in" disabled="disabled" value="{{ friend.name }}">
			<label for="friend_{{ loop.index }}_check_box"></label>	  
		</p>
		{% endif %}
      </div>
	</li><!-- 朋友信息 -->

	<!-- 分割线 -->
	<li>
      <div class="divider">
      </div>
	</li>
  {% endfor %}
	<input type="hidden" id="friend_list_size_hidden" value="{{ count }}">
{% endif %}
