<li>
    <div class="user-view">
            <a class="waves-effect waves-light btn update_personal_info" style="width:100px;;position: absolute;top:66px;right: 15px;background: #26a69a;">修改资料</a>
        <div class="background">
            <img src="./media/imgs/usr_bg.jpg">
        </div>
        <a href="#" style="z-index:1000;"><img style="margin-top:20px;" data-target="modal1" class="circle myscircle" src="./media/user_icon/{{userInfo.avatarId}}.png"></a>
        <a href="#!name"><span style="padding-bottom:10px;;margin-left: 0px;font-size:16px;margin-top:11px;" class="white-text name">{{userInfo.name}}</span></a>
       <!-- <a href="#!email"><span class="white-text email"></span></a> -->
       
    </div>
    <div style="padding: 2px 0px 3px 5px;">
    <a class="waves-effect waves-light btn " style="width:48%;" href="#coollap">添加好友</a>
    <a class="waves-effect waves-light btn " style="width:48.5%;" id="delete_friend">删除好友</a>
    </div>
</li>

<ul class="collapsible" data-collapsible="accordion">
    <li class="active">
        
        <div class="collapsible-header active"><span class="new badge">{{friendListLength}}</span>好友</div>

        <div class="btn right show_delete" style="display:none;margin: 5px 5px 0 0; " id="delete_friends">删除选中
        </div>
        {% set count = 0 %}
        {% for friend in userInfo.friendList%}
        {% set count+=1 %}
        <div class="collapsible-body collap-style" style="background:none;">
            <div class="collap-rq" >
            <p class="collap-p" >
                <img src="./media/user_icon/{{friend.avatarId}}.png">
            </p>
                <p class="collap-p2">{{friend.name}}</p>
                {% if friend.online=='true' %}
                <div class="color-dot color-dot-green">
                </div>
                <label class="friend-status friend-status--offline">
                    在线
                </label>
                <p class="right show_delete" style="padding-right:10px;display:none;">
                    <input type="checkbox" value="{{friend.name}}" id="friend_{{ loop.index }}_check_box"/>
                    <label for="friend_{{ loop.index }}_check_box" style="padding-left: 25px;"></label>
                </p> 
                {% elseif friend.online=='inroom' %}
                <div class="color-dot color-dot-blue">
                </div>
                <label class="friend-status friend-status--offline">
                    建房中
                </label>
                <p class="right show_delete" style="padding-right:10px;display:none;">
                    <input type="checkbox" value="{{friend.name}}" id="friend_{{ loop.index }}_check_box" />
                    <label for="friend_{{ loop.index }}_check_box" style="padding-left: 25px;"></label>
                </p> 
                {% elseif friend.online=='inteam' %}
                <div class="color-dot color-dot-yellow">
                </div>
                <label class="friend-status friend-status--offline">
                    组队中
                </label>
                <p class="right show_delete" style="padding-right:10px;display:none;">
                    <input type="checkbox" value="{{friend.name}}" id="friend_{{ loop.index }}_check_box" />
                    <label for="friend_{{ loop.index }}_check_box" style="padding-left: 25px;"></label>
                </p> 
                {% elseif friend.online=='inbattle' %}
                <div class="color-dot color-dot-yellow">
                </div>
                <label class="friend-status friend-status--offline">
                    游戏中
                </label>
                <p class="right show_delete" style="padding-right:10px;display:none;">
                    <input type="checkbox"  value="{{friend.name}}" id="friend_{{ loop.index }}_check_box" />
                    <label for="friend_{{ loop.index }}_check_box" style="padding-left: 25px;"></label>
                </p> 
                {% elseif friend.online=='false' %}
                <div class="color-dot color-dot-red">
                </div>
                <label class="friend-status friend-status--offline">
                    离线
                </label>
                <p class="right show_delete" style="padding-right:10px;display:none;">
                    <input type="checkbox" value="{{friend.name}}" id="friend_{{ loop.index }}_check_box" />
                    <label for="friend_{{ loop.index }}_check_box" style="padding-left: 25px;"></label>
                </p>              
                {% endif %}
                
            </div>
           
        </div>
      
        {% endfor %}
        <input type="hidden" id="friend_list_size_hidden" value="{{ count }}">
    </li>
</ul>
<script src="./js/zymly.js"></script>
<script src="./js/delete_friends.js"></script>


