<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>swig test</title>
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/font.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
	<link href="./font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="./css/materialize.min.css" rel="stylesheet">
	<link href="./css/mhome.css" rel="stylesheet">
	<link href="./css/battle.css" rel="stylesheet">
	<link href="./css/searchusr.css" rel="stylesheet">
	<link href="./css/personalInfo.css" rel="stylesheet">
	<link href="./css/rank.css" rel="stylesheet">
	<link href="./css/personalInfo.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/boxstyle.css">
	<link rel="stylesheet" type="text/css" href="./css/friendbox.css">
	<link rel="stylesheet" type="text/css" href="./css/searchbox.css">
	<link href="/css/starter.css" rel="stylesheet" />
	<link href="/css/tournament.css" rel="stylesheet" />
	<link href="/css/myroom.css" rel="stylesheet" />
	<link href="/css/spa_fight.css" rel="stylesheet" />
	<link rel="stylesheet" href="./flipclock/flipclock.css">
	<link href="./css/materialize.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spa_fight.css">
    <link rel="stylesheet" href="./css/date.css">

    <!-- 表头固定插件 -->
    <script src="./js/jquery.freezeheader.js"></script>
    <!-- 内容过滤插件 -->
    <!-- <script src="./js/jquery.filtertable.min.js"></script>  -->
    <script src="./js/jquery.filtertable.js"></script>

    <style>
        .filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
        .fitler-table .quick:hover { text-decoration: underline; }
        td.alt { background-color: #ffc; background-color: rgba(254, 255, 254, 0.34); }
    </style>
</head> 

<body>
<!-- 约战管理 -->
<script src="./js/admin_handleBattle.js"></script>
<script src="./js/admin_battleFilter.js"></script>
<a class="waves-effect waves-light btn" style="position: absolute;margin-top: 10px;right: 50px;top: 61px;"id="back-war">返回</a>
<script>$.getScript('./js/back.js');</script>
<div>
<div class="tab_box" style="margin-top: 50px;overflow: hidden;height: 690px;">
<table id="tab" class="responsive-table centered">
    <thead>
        <tr style="background:#26a69a">
            <th>对战ID</th>
            <th>
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn-small' href='#' data-activates='dropdown1' style="color:azure" id="battleType">对战类型▼</a>
            <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!" id="all_battle_type">全部</a></li>
                    <li><a href="#!" id="freedom_battle">自主约战</a></li>
                    <li><a href="#!" id="system_match">系统匹配</a></li>
                </ul>      
            </th>
            <th>赛事ID</th>
            <th>房间名</th>
            <th>
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn-small' href='#' data-activates='dropdown2' style="color:azure" id="mapType">地图类型▼</a>
            <!-- Dropdown Structure -->
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="#!" id="all_map_type">全部</a></li>
                    <li><a href="#!" id="summoner_valley">召唤师峡谷</a></li>
                    <li><a href="#!" id="crying_abyss">嚎哭深渊</a></li>
                    <li><a href="#!" id="distortion_forest">扭曲丛林</a></li>
                    <li><a href="#!" id="crystal_marks">水晶之痕</a></li>
                </ul> 
            </th>
            <th>$赌金</th>
            <th>
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn-small' href='#' data-activates='dropdown3' style="color:azure" id="numberType">对战规模▼</a>
            <!-- Dropdown Structure -->
                <ul id='dropdown3' class='dropdown-content'>
                    <li><a href="#!" id="all_number_type">全部</a></li>
                    <li><a href="#!" id="two">1v1</a></li>
                    <li><a href="#!" id="four">2v2</a></li>
                    <li><a href="#!" id="six">3v3</a></li>
                    <li><a href="#!" id="eight">4v4</a></li>
                    <li><a href="#!" id="ten">5v5</a></li>
                </ul> 
            </th>
            <th>蓝方人员</th>
            <th>红方人员</th>
            <th>开局时间</th>
            <th>持续时间</th>
            <th>比赛结果</th>
            <th>处理</th>
        </tr>
    </thead>
    <tbody>
        {% if dataSource %}
            {% for key in dataSource %}
                {% for i in key %}
        <tr class="keyRow">
            <td class="battleId">{{ i.bullup_battle_id }}</td>
            <td>{{ i.bullup_battle_compitetion_type }}</td>
            <td>{{ i.bullup_compitetion_id }}</td>
            <td>{{ i.bullup_battle_name }}</td>
            {% if i.bullup_battle_map_type=='map-selection-1' %}
            <td>召唤师峡谷</td>
            {% else %}
            <td>嚎哭深渊</td>
            {% endif %}
            <td class="bet">{{ i.bullup_battle_bet }}</td>
            <td>{{ i.bullup_battle_teamnumber }}v{{ i.bullup_battle_teamnumber }}</td>
            <td class="blueSide" style="color:#599DF5">{{ i.bullup_battle_participants_blue }}</td>
            <td class="redSide" style="color:#CA2254">{{ i.bullup_battle_participants_red }}</td>
            <td>{{ i.bullup_battle_time|date('Y-m-d h:m') }}</td>
            <td>{{ i.bullup_battle_duration }}</td>
            <!-- <td>{{ i.Bullup_bank_email}}</td> -->
            <!-- <td>{{ i.Bullup_bank_companyname}}</td> -->
            <!-- <td>{{ i.Bullup_bank_streetaddress}}</td> -->
            <!-- <td>{{ i.Bullup_bank_apt_suite_bldg}}</td> -->
            <!-- <td>{{ i.Bullup_bank_zipcode}}</td> -->
            <td class="result" style="color:#E4E016">{{ i.bullup_battle_result }}</td>
            <td>
                <a class="waves-effect waves-light btn-small changeResult" style="color:#27B11F">改变胜负</a>
                <!-- <a class="waves-effect waves-light btn-small disagree">驳回</a> -->
            </td>
        </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
    
    </tbody>
</table>
</div>
</div>
</body>
<script>
    //表头固定
    $(document).ready(function () {
        $("#tab").freezeHeader({ 'height': '720px' });
    });
    //表格过滤
    $('table').filterTable();
    //初始化下拉按钮
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false,
        hover: true, 
        gutter: 0, 
        belowOrigin: false, 
        alignment: 'left',
        stopPropagation: false 
        }
    );
</script>
</html>
