
<body>
<section id="container">
<!--header start-->

<!--header end-->
<!--sidebar start-->

<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <a style="float:right;margin-right: 10px;margin-top: 10px;" class="waves-effect waves-light btn" id="back">返回</a>
    <div class="panel-heading panel-heading-charge panel-hover">
      <div class="panel_down"></div>
     充值记录
    </div>
    <div class="panel-heading-charge-list">
      <table class="table centered" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>金额</th>
            <th>货币类型</th>
            <th data-breakpoints="xs">订单号</th>
            <th>充值状态</th>
            <th data-breakpoints="xs sm md" data-title="DOB">日期</th>
          </tr>
        </thead>
        <tbody>
          {% if dataSource %}
          {% for key in dataSource %}
          {% for i in key.rechargeInfo %}
          <tr data-expanded="true">
            <td>{{ loop.index }}</td>
            <td>{{ i.bullup_bill_value }}</td>
            <td>{{ i.bullup_bill_type }}</td>
            <td>{{ i.bullup_bill_id }}</td>
            <td>{{ i.bullup_bill_state}}</td>
            <td>{{ i.bullup_bill_time|date('Y-m-d')}}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
</div>
</section>


<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">

  <div class="panel-heading panel-heading-withdrawals panel-hover">
    <div class="panel_down"></div>
    <span style="display:inline-block;margin-left:-85px;">提现记录</span>
    </div>
    <div class="panel-heading-withdrawals-list">
      <table class="table centered" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>金额</th>
            <th>目标账户</th>
            <!-- <th>货币类型</th> -->
            <th data-breakpoints="xs">订单号</th>
            <th data-breakpoints="xs sm md" data-title="DOB">日期</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          {% for key in dataSource %}
          {% for i in key.withdrawInfo %}
          <tr data-expanded="true">
            <td>{{ loop.index }}</td>
            <td>{{ i.bullup_bank_money }}</td>
            <td>{{ i.bullup_bank_cardnumber }}</td>
            <td>{{ i.bullup_withdraw_id }}</td>
            <td>{{ i.bullup_bank_wdtime|date('Y-m-d')}}</td>
            <td>{{ i.bullup_bank_state }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
</div>
</section>
</section>


<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">

  <div class="panel-heading panel-heading-battles panel-hover">
    <div class="panel_down"></div>
    <span style="display:inline-block;margin-left:-85px;">约战记录</span>
    </div>
    <div class="panel-heading-battle-list">
      <table class="table centered" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>队伍名称</th>
            <th>赌金</th>
            <th>红方</th>
            <th>蓝方</th>
            <th data-breakpoints="xs sm md" data-title="DOB">日期</th>
            <th>对战结果</th>
          </tr>
        </thead>
        <tbody>
          {% for key in dataSource %}
          {% for i in key.battleInfo %}
          <tr data-expanded="true">
            <td>{{ loop.index }}</td>
            <td>{{ i.bullup_battle_name }}</td>
            <td>{{ i.bullup_battle_bet }}</td>
            <td>{{ i.bullup_battle_participants_red}}</td>
            <td>{{ i.bullup_battle_participants_blue}}</td>
            <td>{{ i.bullup_battle_time|date('Y-m-d')}}</td>
            <td>{{ i.bullup_battle_result }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      
    </div>
  </div>
</div>
</section>
</section>


<!-- pubg table-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">

  <div class="panel-heading panel-heading-pubg panel-hover">
    <div class="panel_down"></div>
    <span style="display:inline-block;margin-left:-85px;">pubg记录</span>
    </div>
    <div class="panel-heading-pubg-list">
      <table class="table centered" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">序号</th>
            <th>吃鸡账号</th>
            <th>区服</th>
            <th>目标击杀</th>
            <th>实际击杀</th>
            <th>游戏模式</th>
            <th>奖励方式</th>
            <th data-breakpoints="xs sm md" data-title="DOB">日期</th>
            <th>游戏结果</th>
          </tr>
        </thead>
        <tbody>
          {% if dataSource %}
          {% for key in dataSource %}
          {% for i in key.pubgBattleInfo %}
          <tr data-expanded="true">
            <td>{{ loop.index }}</td>
            <td>{{ i.pubg_nickname }}</td>
            <td>{{ i.pubg_server }}</td>
            <td>{{ i.pubg_target }}</td>
            <td>{{ i.pubg_kill}}</td>
            <td>{{ i.pubg_bet }}</td>
            <td>{{ i.pubg_rate }}</td>
            <td>{{ i.pubg_game_start|date('Y-m-d')}}</td>
            <td>{{ i.pubg_result}}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
</div>
</section>
</section>


<!--main content end-->
</section>

</body>
<!-- 返回按钮 -->
<script>
    $(".panel-heading-charge-list").hide();
    $(".panel-heading-withdrawals-list").hide();
    $(".panel-heading-battle-list").hide();
    $(".panel-heading-pubg-list").hide();
    $(".panel-heading-charge").click(function(event){
      $(".panel-heading-charge-list").toggle();
    });
    $(".panel-heading-withdrawals").click(function(event){
      $(".panel-heading-withdrawals-list").toggle();
    });
    $(".panel-heading-battles").click(function(event){
      $(".panel-heading-battle-list").toggle();
    });
    $(".panel-heading-pubg").click(function(event){
      $(".panel-heading-pubg-list").toggle();
    });
    
    $.getScript('./js/back.js');
  </script>