{% if player %}
  <div class="col s2 center-align" style="margin-top:20px;">
    <a href="#" data-activates="slide-out" class="button-collapse">
      <img id="tiaozhuan" class="personalInfo-teaser" src="./media/user_icon/{{player.avatarId}}.png">
    </a>
  </div>
<!-- 召唤师名 所属服务器 -->
<div class="col s6 m2" style=" text-align: center;">
    <label class="personal-title" style="font-size:16px;">
      {{ player.name }}
    </label>

    <div class="personal-server chip">
      {{ player.server }}
    </div>
  </div>

 <!-- 胜率 
 <div class="col s6 m2">
  <label class="personal-title">
    胜率
  </label>
  <div class="personal-value">
    
  </div>
</div>  -->


<!--雷达图-->
<!-- Personal Info -->
<div class="row" id="personal_basic" style="margin-top:25px;text-align: center;">

<!-- 战斗力 -->
<nav style="background: none;">
        <div class="nav-wrapper" style="background: #4db6ac;height: 65%;">
          
          <ul id="nav-mobile" class="left hide-on-med-and-down" style="padding-left:50px;">
            <a href="#!" class="brand-logo" style="font-size:1rem; line-height: 40px;" >摘要</a>
         
          </ul>
        </div>
    </nav>
<div class="col s6 m2" style="width:20%;">
    <label class="personal-title">战力</label>
    <div class="personal-value">
        {{player.strength}}
    </div>
</div>

<!-- 胜率 -->
<div class="col s6 m2" style="width:20%;">
    <label class="personal-title">
        胜率
</label>
    <div class="personal-value">
        {% if player.winning_rate=='NaN%' %}
        {{0}}
        {% elseif player.winning_rate=='infinity%' %}
		{{0}}
		{% else %}
		{{player.winning_rate}}
		{%endif %}
    </div>
</div>

<!-- 财富 -->
<div class="col s6 m2" style="width:20%;">
    <label class="personal-title">
      财富
    </label>
    <div class="personal-value">
     {{ player.wealth }}
    </div>
  </div>
<!-- 排行 -->
<div class="col s6 m2" style="width:20%;">
    <label class="personal-title"> 战力排行</label>
    <div class="personal-value">
        {{ player.cap }}
    </div>
</div>
<div class="col s6 m2" style="width:20%;">
    <label class="personal-title">财富排行</label>
    <div class="personal-value">
        {{ player.wealthRank }}
    </div>
</div>



</div>
<!-- first row -->
<nav style="background: none;">
        <div class="nav-wrapper" style="background: #4db6ac;height: 65%;">
          
          <ul id="nav-mobile" class="left hide-on-med-and-down" style="padding-left:50px;">
            <a href="#!" class="brand-logo" style="font-size:1rem; line-height: 40px;" >战斗力统计</a>
         
          </ul>
        </div>
    </nav>

<div class="row" style="width:75%;margin-top:50px;">
<div class="col s12 m3"  style="width:33.33%;">
    <canvas id="chart-area"></canvas>
</div>
<div class="col s12 m3"  style="width:33.33%;">
    <canvas id="polar-area"></canvas>
</div>

    <!--  -->
    <div class="col s12 m3"  style="width:33.33%;">
        <canvas id="radar-area"></canvas>
    </div>


</div>
<nav style="background: none;">
    <div class="nav-wrapper" style="background: #4db6ac;height: 65%;">
      
      <ul id="nav-mobile" class="left hide-on-med-and-down" style="padding-left:50px;">
        <a href="#!" class="brand-logo" style="font-size:1rem; line-height: 40px;" >游戏频率(有游戏记录的最近十天)</a>
     
      </ul>
    </div>
</nav>
  
<div class="row">
 <div class="col s12 m8"  style="margin:0 auto;float: none;">
    <canvas id="chartjs-0" class="chartjs"></canvas>
 </div>
</div>

{% else %}
<div class="row">
  <h3>用户不存在</h3>
</div>
{% endif %}

<script>
 
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

var config1 = {
    type: 'doughnut',
    data: {
        datasets: [{
            data: [
                '{{player.wins}}','{{player.gold}}','{{player.golds}}'
            ],
            backgroundColor: [
                window.chartColors.blue,
                window.chartColors.red,
                window.chartColors.purple,
            ],
        }],
        labels: [
            "胜场",
            "金币",
            "每分钟金币数",
        ]
    },
    options: {
        responsive: true,
        legend: {
            position: 'top',
        },
        title: {
            display: true,
            text: '经济'
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    }
};


/* window.onload = function() {
 *   var ctx = document.getElementById("chart-area").getContext("2d");
 *   window.myDoughnut = new Chart(ctx, config);
 * };*/


/* Polar area */
var chartColors = window.chartColors;
var color = Chart.helpers.color;
var config2 = {
    data: {
        datasets: [{
            data: [
                '{{player.minion}}', '{{player.tower}}','{{player.a}}'
            ],
            backgroundColor: [
                color(chartColors.red).alpha(0.5).rgbString(),
                color(chartColors.blue).alpha(0.5).rgbString(),
                color(chartColors.green).alpha(0.5).rgbString(),
            ],
            label: 'My dataset' // for legend
        }],
        labels: [
            "补刀",
            "推塔",
            "助攻"
        ]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: '常用英雄类型'
        },
        scale: {
            ticks: {
                beginAtZero: true
            },
            reverse: false
        },
        animation: {
            animateRotate: false,
            animateScale: true
        }
    }
};
//        debugger;
/* radar chart */
var arr;
function setData (data) {
    arr = data;
}
var $a =  $('#a1').val();
console.log($a);
var json = {
     name1:'{{player.k}}',
     name2:'{{player.d}}',
     name3:'{{player.a}}',
     name4:'{{player.heal}}',
     name5:'{{player.damage}}',
     name6:'{{player.taken}}'
}
setData([json.name1,json.name2,json.name3,json.name4,json.name5,json.name6]);
var config3 = {
        type: 'radar',
        data: {
            labels: ['击杀', '死亡', '助攻','治疗', '造成伤害', '承受伤害'],
            datasets: [{
                label: "能力雷达图",
                backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                borderColor: window.chartColors.red,
                pointBackgroundColor: chartColors.red,
                data: arr
            }, ]
        },
        options: {
            title: {
                display: true,
                text: '能力'
            },
            scale: {
                ticks: {
                    beginAtZero: true
                }
            }
        }
    };

    var arr = config3.data.datasets[0]; 
    console.log(arr.data);





var ctx1 = document.getElementById("chart-area");
var ctx2 = document.getElementById("polar-area");
var radar = document.getElementById("radar-area");
window.myDoughnut = new Chart(ctx1, config1)
window.myPolarArea = Chart.PolarArea(ctx2, config2);
window.myRadar = new Chart(radar, config3);
//涨幅曲线图
var config4 = {
    type: 'line',
    data: {
        labels: [
            "{{ player.raveLine[9].year }}"+"{{ player.raveLine[9].month }}"+"{{ player.raveLine[9].day }}", 
            "{{ player.raveLine[8].year }}"+"{{ player.raveLine[8].month }}"+"{{ player.raveLine[8].day }}", 
            "{{ player.raveLine[7].year }}"+"{{ player.raveLine[7].month }}"+"{{ player.raveLine[7].day }}", 
            "{{ player.raveLine[6].year }}"+"{{ player.raveLine[6].month }}"+"{{ player.raveLine[6].day }}",
            "{{ player.raveLine[5].year }}"+"{{ player.raveLine[5].month }}"+"{{ player.raveLine[5].day }}", 
            "{{ player.raveLine[4].year }}"+"{{ player.raveLine[4].month }}"+"{{ player.raveLine[4].day }}",
            "{{ player.raveLine[3].year }}"+"{{ player.raveLine[3].month }}"+"{{ player.raveLine[3].day }}",
            "{{ player.raveLine[2].year }}"+"{{ player.raveLine[2].month }}"+"{{ player.raveLine[2].day }}",
            "{{ player.raveLine[1].year }}"+"{{ player.raveLine[1].month }}"+"{{ player.raveLine[1].day }}",
            "{{ player.raveLine[0].year }}"+"{{ player.raveLine[0].month }}"+"{{ player.raveLine[0].day }}"
        ],
        datasets: [{
            label: '当天游戏次数',
            data: [
                "{{ player.raveLine[9].count }}",
                "{{ player.raveLine[8].count }}",
                "{{ player.raveLine[7].count }}",
                "{{ player.raveLine[6].count }}",
                "{{ player.raveLine[5].count }}",
                "{{ player.raveLine[4].count }}",
                "{{ player.raveLine[3].count }}",
                "{{ player.raveLine[2].count }}",
                "{{ player.raveLine[1].count }}",
                "{{ player.raveLine[0].count }}"
            ],
            backgroundColor: "rgba(255,255,255,0)",
            borderColor:"#4db6ac",
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
            display: false,
            text: '经济'
        }
    }
};
var $ctx = $("#chartjs-0");
var myChart = new Chart($ctx, config4);

</script>