{% if matches %}
	{% for match in matches  %}
	<li>
	   <div class="collapsible-header" style="position:relative;height:60px;background: rgba(0,0,0,0);color: #888;">
		<div style="position:absolute;height:50px;width:50px;top:4px;">
		<img src="./media/lol_champions/{{ match.championEnglishName }}.png" alt="" style="width:50px;" class="circle">
		</div>
		<span class="title champion-name" style="position:absolute;left:85px;font-size:22px;top:7px;">{{ match.name }}</span>
		{% if match.win == '胜利' %}
		<span class="right" style="position:absolute;top:5px;left:950px;color:#26a69a;font-size:23px;">{{ match.win }}</span>
		{% else %}
		<span class="right" style="position:absolute;top:5px;left:950px;color:red;font-size:23px;">{{ match.win }}</span>
		{% endif %}
		{% if match.gameType == 'MATCHED_GAME' %}
				<span style="position:absolute;left:300px;top:6px;font-size:22px;">经典匹配</span>
		{% else %}
				<span style="position:absolute;left:300px;top:6px;font-size:22px;">未知模式</span>
		{% endif %}
		<span class="center-align" style="position:absolute;left:700px;top:6px;font-size:22px;">{{ match.time }}</span>
		<span class="right" style="position:absolute;left:500px;top:6px;font-size:22px;">{{ match.kda }}</span>
	   </div>
	   <div class="collapsible-body" style="background:rgba(0,0,0,0);">
		   <div class="row" style="background:rgba(0,0,0,0);padding:0 15px;">
			 
				{% if match.paticipants %}
				<div style="width:100%;height:40px;position:relative;">
					<span style="position:absolute;top:10px;left:20px;">英雄</span>
					<span style="position:absolute;top:10px;left:100px;">召唤师</span>
					<span style="position:absolute;top:10px;left:379px;">KDA</span>
					<span style="position:absolute;top:10px;left:420px;">造成伤害</span>
					<span style="position:absolute;top:10px;left:488px;">承受伤害</span>
					<span style="position:absolute;top:10px;left:560px;">得分</span>
					<span style="position:absolute;top:10px;left:621px;">经济</span>
					<span style="position:absolute;top:10px;left:780px;">出装</span>
				</div>
				<div class="collection team-wrapper">
				  {% for player in match.paticipants %}
					<!-- Player Item -->
					<div class="collection-item avatar player-item"  style="background:rgba(0,0,0,0);border:none;">
						
					  <div class="col" style="" >
						<img src="./media/lol_champions/{{player.championEnglishName}}.png" alt="" class="circle">
					  </div>
					  
					  <div class="col" style="margin-top:12px" >
						<span class="title summoner-name">{{ player.name }}</span>
					  </div>
					  
					  
					  <!-- items -->
					  <div class="lol-items right" style="margin-top:5px;width:271.25px" >
						{% for item in player.items %}
						  {% if item == 0 %}
							<img class="lol-item" src="./media/item_imgs/ttt.png" alt="">
						  {% else %}
							<img class="lol-item" src="./media/item_imgs/{{ item }}.png" alt="">
						  {% endif %}
						{% endfor %}
					  </div>
			
					  <div class="right">
						<div class="col" style="margin-top:12px">
						  <div class="valign-wrapper player-kdanumber">
							{{ player.kda }}
						  </div>
						</div>
			
						<div class="col" style="margin-top:12px;width:67.08px;text-align:right;">
						  <span class="player-detail-value">{{ player.damage }}</span>
						</div>
			
						<div class="col" style="margin-top:12px;width:67.08px;text-align:right;">
						  <span class="player-detail-value">{{ player.damageTaken }}</span>
						</div>
			
			
						<div class="col" style="margin-top:12px;width:44.7px;text-align:right;">
						  <span class="player-detail-value">{{ player.kdaScore }}</span>
						</div>
						<div class="col" style="margin-top:12px;width:67.08px;text-align:right;">
						  <span class="player-detail-value">{{ player.goldEarned }}</span>
						</div>
					  </div>
			
					</div>
					<!-- Player Item ends here -->
				  {% endfor %}
				</div>
				{% endif %}

	       </div>
	    </div>
	</li>	
  {% endfor %}

{% endif %}