<div class="row" id="starter_shuffling_view" style="position: relative;">

		<!-- load shuffling view -->
</div>

<div class="row center-align starter-btns-holder" style="position:relative">
	<!-- <div class="starter-match-btn_no" style="background:rgba(0,0,0,0); position:absolute;width:221px;height:83px;top:0px;left:49px;z-index:2;"></div> -->
	<a style="background-size:100%;" class="starter-btn waves-effect " id="starter-match-btn_no" href="#create_pubg_modall_off">		
		<span class="line line-top"></span>
		<span class="line line-right"></span>
		<span class="line line-bottom"></span>
		<span class="line line-left" ></span>
		PUBG
		<div class="biu"  style="width:100%;">
			<div id="starter_competition_div">
					<img src="media/imgs/wang_xi.png" class="iamges_s" style="width:100%;">
			</div>
		</div>
	</a>
  <a id="yuezhan" style="background-size:100%;" class="starter-btn waves-effect biu2" id="starter-fight-btn" href="#create_room_modall">
		LOL
		<div class="biu" style="width:100%;">
				<div id="starter_battle_div">
						<img src="media/imgs/wang_xi.png" class="iamges_s" style="width:100%;" >
				</div>
		</div>
	</a>
  <a style="background-size:100%;" class="starter-btn waves-effect" id="starter-rank-btn">
		排行榜
		<div class="biu"  style="width:100%;">
				<div id="starter_rank_div">
						<img src="media/imgs/wang_xi.png" class="iamges_s" style="width:100%;" >
				</div>
		</div>
	</a>
  <a style="background-size:100%;" class="starter-btn waves-effect" id="starter-chatroom-btn">
		组队大厅
		<div class="biu chitchat"  style="width:100%;">
				<div id="starter_chatroom_div">
						<img src="media/imgs/wang_xi.png" class="iamges_s" style="width:100%;" >
				</div>
		</div>
	</a>
</div>

<div class="row">
  <div class="col s4" style="padding-top:7px;">
		<div class="carousel carousel-slider center video-carousel" data-indicators="true">
			<div class="carousel-fixed-item center">
				<a class="btn waves-effect white grey-text darken-text-2" id="bullup_video" style="color:#fff !important;background:#2bbbad !important;">视频中心</a>
			</div>
			<div class="carousel-item red white-text video-img" href="#one!">
				<h2>League of Legends</h2>
				<p class="white-text">This is your first panel</p>
			</div>
			<div class="carousel-item amber white-text video-img" href="#two!">
				<h2>PUBG</h2>
				<p class="white-text">This is your second panel</p>
			</div>
			<div class="carousel-item green white-text video-img" href="#three!">
				<h2>BULLUP</h2>
				<p class="white-text">This is your third panel</p>
			</div>
		</div>
  </div>

  <div class="col s4 starter-tournament-holder" style="padding:0px 0px 0px 12px">
	{% if tournaments %}
	  {% for tournament in tournaments %}
		<div class="card horizontal starter-tournament-card">
		  <div class="card-image">
			<img src="/media/imgs/trophy.gif" class="starter-tournament-image">
		  </div>
		  <div class="card-stacked" style="background-color: #455a64;">
			<div class="card-content">
			  <h5>{{ tournament.name }}</h5>
			  <p>{{ tournament.description }}</p>
			</div>
			<div class="card-action">
			  <a href="#" style="color:#fff">待开放</a>
			</div>
		  </div>
		</div>
	  {% endfor %}
	{% endif %}
	<div class="more">
	  <a href="#" class="bullup_more">more>></a>
	</div>
  </div>
  
  <div class="col s4 starter-collection-holder">
		<div class="collection news-collection theme-color" style="border:none;">
			{% if news %}
			{% for n in news %}
				<a class="collection-item theme-color news-item" data-href="{{ n.href }}">{{ n.title }}</a>
			{% endfor %}
			{% endif %}
		</div>
		<div class="more">
			<a href="#" class="bullup_more">more>></a>
		</div>
  </div>
</div>

