<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<form action="http://bullesport.com:3001/charge" method="post">
        <script src='https://checkout.stripe.com/checkout.js' 
            class='stripe-button' 
            data-key='pk_live_xXGeuc5byKCm3RkS7sX26hHQ' 
            data-amount='chargeAmountValue'
            data-name="Bullup Inc." 
            data-currency='usd'>
        </script>
        <input type="hidden" name="chargeAmount" value="chargeAmountValueHidden">
        <input type="hidden" name="userName" value="userNameValue">
    </form> 
</body>

</html>