body {
	background-color: #111;
}

.team-won {
	border-right: 8px solid #4caf50;
}

.team-lost {
	border-left: 8px solid #ef5350;
}

.res-title {
	color: #f4f7f8;
}

.dollar-amount {
	font-size: 60px;
}

.wealth-title {
	color: darkgray;
	font-size: 30px;
}

.dollar-change {
	color: white;
}

.battleres-btn {
	width: 10%;
	font-size: 24px;
	font-weight: bold;
}